
.page-navigation {
    background: $background-dark;
    &__list {
        list-style-type: none;
        padding: 1rem 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: .5rem;
    }
    &__title {
        color: $text-light;
    }
    &__item {
        margin: 0 2rem;
        padding: 0 1rem;
    }
    &__link {
        text-decoration: none;
        color: $text-light;
    }
}
@media only screen and (max-width: 600px) {
    .page-navigation {
        &__list {
        flex-direction: column;
        justify-content: flex-start;
        }
    }
    
};
