.recipe-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2rem 10%;
    row-gap: 2rem;
}
.recipe-card {
    &__container {
        padding: 1rem;
        background: $background-mid;
        border-radius: 5px;
        list-style-type: none;
    
    }
    &__top-container {
        padding: 1rem;
    }
    &__img-container {
        padding: 0;
    }
    &__img {
        width: 100%;
    }
    &__top-text {
        margin: 0;
        padding: 1rem;
    }
    &__name {
        font-family: "Berkshire Swash", serif;
        margin-top: 0;
    }
    &__description p {
        margin: 0;
    }

    &__bottom-container {
        padding: 1rem;
    }
}
.ingredients {
    padding: 0;
    &__list {
        padding-left: 1rem;
    }
    &__item {
        color: $text-dark;
    }
}
.directions {
    padding: 0;
    &__list {
        padding-left: 1rem;
    }
    &__item {
        color: $text-dark;
    }
}