.recipe-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2rem 12%;
    row-gap: 2rem;
}
.recipe-card {
    &__container {
        padding: 2%;
        background: $background-mid;
        border-radius: 5px;
        list-style-type: none;
    
    }
    &__title {
        color: $text-dark;
    }
    &__top-container {
        padding: 1rem;
        
    }
    &__img-container {
        display: flex;
        justify-content: center;
    }
    &__img {
        width: 100%;
        height: 18rem;
        object-fit: cover;

    }
    
    &__top-text {
        margin: 0;
        padding: 1rem;
    }
    &__name {
        font-family: "Berkshire Swash", serif;
        margin-top: 0;
        color: $text-dark;
        font-size: 2.5rem;
    }
    &__description p {
        margin: 0;
        color: $text-dark;
        font-size: 1.2rem;
    }

    &__bottom-container {
        padding: 1rem;
    }
}
.ingredients {
    padding: 0;
    &__list {
        padding-left: 1rem;
    }
    &__item {
        color: $text-dark;
    }
}
.directions {
    padding: 0;
    &__list {
        padding-left: 1rem;
    }
    &__item {
        color: $text-dark;
    }
}