//colors
$c1: #262f36;
$c2: #b7a7a9;
$c3: #4e4749;
$c4: #f6ece3;
$c5: #d2d4d3;
$c6: #b1a6a1;

/* $c1: #181713;
$c2: #b7a7a9;
$c3: hsl(14, 14%, 45%);
$c4: #f6ece3;
$c5: hsl(28, 51%, 99%);
$c6: #dfc8c6; */


$bl: black;
$bl-l-1:hsl(0, 0%, 12%);

$wh: white;
$wh-l-1: hsl(0, 0%, 90%);


//container-background
$background-light: $c5;
$background-dark: $c3;
$background-mid: $c6;


//text colors
$text-dark: $c1;
$text-light: $c5;
$text-accent: $c3;